* {
 box-sizing: border-box;
 font-family: 'Nanum Gothic', sans-serif;-0p-                                                                                                                                                                                                                                                                                                                                                                         
}
ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    max-width: 1200px;
}