/* tablet */
@media (min-width:740px) and (max-width:1200px) {
    body {
        max-width: 95vw;
    }
    h1 {
        margin: 0px 40px 50px 40px;
    }
    .content-text {
        margin: 20px 40px;
    }
    .btn {
        margin: 0 40px;
    }
    .repo-list {
        margin: 100px 36px 36px;
    }
    .repo-wrapper-img {
        margin-left: 20px;
    }
    .slider-contact .content-text {
        margin: 0;
    }
    .repo-item .content-text {
        margin: 20px 10px;
    }
    .request-form {
        padding: 6px;
    }  
}
/* mobile */
@media (max-width:739px) {

}